<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Неправильне глаголы (Irregular Verbs)</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="global">
	<div class="london">
		<div class="eng">English</div>
		<img src="london.png" alt="">
	</div>
<div id="app">
	<h1>{{ quiz.title }}</h1>
	<p class="verbs">Выберете правильный перевод [ 1 формы ] глагола</p>
  <!-- index is used to check with current question index -->
  <div v-for="(question, index) in quiz.questions">
    <!-- Hide all questions, show only the one with index === to current question index -->
    <div v-show="index === questionIndex">
      <h2>{{ question.text }}</h2>
      <ol>
        <li v-for="response in question.responses">
          <label>
            <!-- The radio button has three new directives -->
            <!-- v-bind:value sets "value" to "true" if the response is correct -->
            <!-- v-bind:name sets "name" to question index to group answers by question -->
            <!-- v-model creates binding with userResponses -->
            <input type="radio" 
                   v-bind:value="response.correct" 
									 v-bind:name="index"
                   v-model="userResponses[index]"> {{response.text}}
									</label>
        </li>
      </ol>
      <!-- The two navigation buttons -->
      <!-- Note: prev is hidden on first question -->
      <!-- <button v-if="questionIndex > 0" v-on:click="prev">
        prev
      </button> -->
      <button v-on:click="next">
        next
      </button>
    </div>
  </div>
  <div v-show="questionIndex === quiz.questions.length">
    <h2>
    Finished
  </h2>
    <p class="totals">
      Right answers: {{ score() }} of {{ quiz.questions.length }}
    </p>
  </div>
</div>
</div>

	<script src="vue-js/test.js"></script>

</body>
</html>

