@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
*{
 padding: 0;
 margin: 0;
}
.global{
 padding: 20px;
}
h1{
 font-family: 'Oswald', sans-serif;
 font-size: 2.7em;
 margin-bottom: 20px;
 margin-top: 20px;
}
h2{
 font-family: 'Oswald', sans-serif;
 font-size: 2em;
 color: rgb(34, 66, 206);
 padding: 10px;
}
p{
 font-family: -system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
 font-size: 1.5em;
 padding: 10px;
}
.kangaroos{
 margin: 0 auto;
 display: block;
 width: 99%;
 max-width: 250px;
 text-align: center;
}
.global span{
 background: #ffebde;
 border-left: 5px solid #ffebde;
 border-right: 5px solid #ffebde;
}
.tooltip {
 position: fixed;
 padding: 10px 20px;
 border: 1px solid #7a7a7a;
 border-radius: 4px;
 text-align: center;
 font: italic 14px/1.3 sans-serif;
 color: rgb(44, 44, 44);
 background: rgb(255, 235, 148);
 box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.164);
}
